body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #eae2cf;
    margin: auto;
    width: 600px;

    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.header {
    padding: 2.5rem;
}

.flex-container {
    display: flex;
    background-color: #eae2cf;
    color: #ffffff;
    justify-content: space-between;
    border-radius: 5px;
}

.header-title {
    color: #ba5252;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.header-subtitle {
    color: #fc0f52;
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.coluna-1 {
    width: 50%;
    padding: 1.2rem;
    background-color: #f05c54;
}

.coluna-2 {
    width: 50%;
    padding: 0.6rem 1rem;
    background-color: #b4585d;
}

.assinatura {
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.preco {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    margin-bottom: 0;
}

.mes {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    align-self: center;
}

.cancele {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-top: 0.1rem;
}

.botao-assinatura {
    background-color: #eae2cf;
    color: #f05c54;
    border: none;
    padding: 0.9rem 4.6rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 98.5%;
}

.botao-assinatura:hover {
    background-color: #d4c8b0;
    color: #f05c54;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.img-user {
    margin-bottom: 0.3rem;
    text-align: center;
}

@media screen and (max-width: 620px) {
    html {
        font-size: 14px;
    }

    .flex-container {
        flex-direction: column;
    }

    .coluna-1,.coluna-2 {
        width: 100%;
        box-sizing: border-box;
    }

    .container {
        width: 95%;
    }

    .header {
        padding: 1rem;
    }
}